#browseScreen__searchRowContainer{
    height: 100vh;
    margin-top: -1rem;
    padding-top: 5rem;
    background-color: rgba(20,20,20,1);

}
#browseScreen__searchRowContainer>h2{
    padding: 0 0 0 3.5rem;
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
}
@media (max-width: 1000px) {
    #browseScreen__searchRowContainer{
        margin-top: -5rem;
        margin-bottom: 0;
    }
    #browseScreen__searchRowContainer>h2{
        font-size: 1rem;
    }
}
@media (max-width: 600px) {
    #browseScreen__searchRowContainer{
        margin-top: 0;
        margin-bottom: 0;
    }
    #browseScreen__searchRowContainer>h2{
        font-size: 0.9rem;
        padding: 0 1.5rem 0;
    }
}

#browseScreen__searchRow {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 6.5rem 0 9.5rem 3.5rem;
    margin-top: -7rem;
    z-index: 1;


}
#browseScreen__searchRow::-webkit-scrollbar {
    display: none;
}

.md-container>#show_container {
    transition: 0s all;
    max-width: 14.2rem;
}
.md-container>#show_container:hover>#show_card{
    transition-delay: 500ms;
    transform: scale(1.35);
}
.md-container>#show_container:hover>#show_details{
    transition-delay: 500ms;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.75), 0 6px 6px rgba(0, 0, 0, 0.5);
}

.md-container>#show_container>#show_card>#show_poster {
    max-height: 8rem;

}
@media (max-width: 1000px) {
    .md-container > #show_container > #show_card > #show_poster {
        max-height: 8rem;
    }

    #browseScreen__searchRowContainer {
        padding-top: 15vh;
    }
}
@media (max-width: 600px) {
    .md-container>#show_container>#show_card>#show_poster {
        max-height: 6rem;
    }
}
