.App {
  text-align: center;
  background-color: #000;
  /*height: 100vh;*/
}
.App-logo {
  height: 3vmin;
  pointer-events: none;
  padding-left:4vw;
  padding-right: 2vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0s linear;
  }
}

.App-header {
  background-color: #000;
  max-height: 12vh;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*justify-content: space-between;*/
  font-size: calc(14px + 3vmin);
  color: white;
}

.App-header > p {
  font-size: calc(6px + 1vmin);
  color: white;
  margin-left: 1vw;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
